<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.eanfang.client">

    <!-- //地图包、搜索包需要的基础权限 -->
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- bugly -->
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <!-- 【必须】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 【常用】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <!-- 【可选】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission
        android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />

    <!-- 生成快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".ui.base.ClientApplication"
        android:allowBackup="true"
        android:icon="@drawable/client_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/client_logo"
        android:supportsRtl="true"
        android:theme="@style/NewBaseTheme">

        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${AMAP_KEY}" />

        <service android:name="com.amap.api.location.APSService" />

        <!-- <meta-data -->
        <!-- android:name="XG_V2_ACCESS_ID" -->
        <!-- android:value="2100270001" -->
        <!-- tools:replace="android:value" /> -->
        <!-- <meta-data -->
        <!-- android:name="XG_V2_ACCESS_KEY" -->
        <!-- android:value="ADCL916N8D7M" -->
        <!-- tools:replace="android:value" /> -->


        <!-- 信鸽 -->
        <receiver
            android:name=".ui.receiver.MessageReceiver"
            android:exported="true">
            <intent-filter>

                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/launch_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 支付宝支付 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- app -->
        <receiver
            android:name=".wxapi.AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND|com.tencent.mm.permission.MM_MESSAGE">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
        <!-- 微信授权的Activity注册 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <data android:scheme="wx11d1a11a2f79200a" /> -->
            <!-- </intent-filter> -->
        </activity>

        <!-- <activity -->
        <!-- android:name=".wxapi.WXPayEntryActivity" -->
        <!-- android:configChanges="keyboardHidden|screenSize|orientation" -->
        <!-- android:exported="true" -->
        <!-- android:launchMode="singleTop" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->


        <!-- <category android:name="android.intent.category.DEFAULT" /> -->


        <!-- <data android:scheme="sdksample" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx11d1a11a2f79200a" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- <activity android:name=".ui.activLoginClientActivityvity" /> -->
        <activity android:name=".ui.activity.CameraActivity" />
        <activity android:name=".ui.activity.worksapce.notice.MessageListActivity" />
        <activity android:name=".ui.activity.my.PersonInfoActivity" />
        <activity android:name="com.eanfang.ui.activity.SelectAddressActivity" />
        <activity android:name=".ui.activity.my.EvaluateActivity" />
        <activity android:name=".ui.activity.my.CollectActivity" />
        <activity android:name=".ui.activity.my.SettingActivity" />
        <activity android:name=".ui.activity.worksapce.repair.RepairActivity" />
        <activity android:name=".ui.activity.worksapce.install.InstallActivity" />
        <activity android:name=".ui.activity.worksapce.DesignActivity" />
        <activity android:name=".ui.activity.worksapce.repair.AddTroubleActivity" />
        <activity android:name=".ui.activity.worksapce.CheckActivity" />
        <activity android:name=".ui.activity.worksapce.ReportActivity" />
        <activity android:name=".ui.activity.worksapce.TaskActivity" />
        <activity android:name=".ui.activity.worksapce.SelectWorkerActivity" />
        <activity android:name=".ui.activity.worksapce.repair.RepairCtrlActivity" />
        <activity android:name=".ui.activity.pay.PayActivity" />
        <activity android:name=".ui.activity.worksapce.StateChangeActivity" />
        <activity android:name=".ui.activity.worksapce.FaPiaoActivity" />
        <activity android:name=".ui.activity.worksapce.WorkReportListActivity" />
        <activity android:name=".ui.activity.MyBGAPhotoPickerPreviewActivity" />
        <activity android:name=".ui.activity.worksapce.WorkTaskListActivity" />
        <activity android:name=".ui.activity.worksapce.DesignOrderListActivity" />
        <activity android:name=".ui.activity.worksapce.OrderDetailActivity" />
        <activity android:name=".ui.activity.worksapce.EvaluateWorkerActivity" />
        <activity android:name=".ui.activity.worksapce.TroubleDetailActivity" />
        <activity android:name=".ui.activity.worksapce.PsTroubleDetailActivity" />
        <activity android:name=".ui.activity.worksapce.LookTroubleDetailActivity" />
        <activity android:name=".ui.activity.worksapce.PhoneLookTroubleDetailActivity" />
        <activity android:name=".ui.activity.worksapce.WorkCheckListActivity" />
        <activity android:name=".ui.activity.worksapce.AddDealwithInfoActivity" />
        <activity android:name=".ui.activity.worksapce.OrderConfirmActivity" />
        <activity android:name=".ui.activity.worksapce.WorkerDetailActivity" />
        <activity android:name=".ui.activity.worksapce.AddReportCompleteActivity" />
        <activity android:name=".ui.activity.worksapce.AddReportFindActivity" />
        <activity android:name=".ui.activity.worksapce.AddReportPlanActivity" />
        <activity android:name=".ui.activity.worksapce.AddWorkTaskDeitailActivity" />
        <activity android:name=".ui.activity.worksapce.AddWorkCheckDetailActivity" />
        <activity android:name=".ui.activity.worksapce.install.InstallOrderActivity" />
        <activity android:name=".ui.activity.worksapce.OfferAndPayOrderActivity" />
        <activity android:name=".ui.activity.worksapce.PayOrderDetailActivity" />
        <activity android:name=".ui.activity.worksapce.PersonOfferAndPayOrderActivity" />
        <activity android:name=".ui.activity.worksapce.PartnerActivity" />
        <activity android:name=".ui.activity.worksapce.SubcompanyActivity" />
        <activity android:name=".ui.activity.worksapce.ExternalCompanyActivity" />
        <activity android:name=".ui.activity.worksapce.ConstansActivity" />
        <activity android:name=".ui.activity.worksapce.contacts.AuthCompanyActivity" />
        <activity android:name=".ui.activity.worksapce.WebActivity" />
        <activity android:name=".ui.activity.worksapce.SignListDetailActivity" />
        <activity android:name=".ui.activity.worksapce.SignListActivity" />
        <activity
            android:name=".ui.activity.worksapce.SignActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.activity.worksapce.SignInCommitActivity" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 业务通知详情 -->
        <activity android:name=".ui.activity.worksapce.notice.MessageDetailActivity" />
        <!-- 客服 帮助页面 -->
        <activity android:name=".ui.activity.worksapce.CustomerServiceActivity" />
        <!-- 系统通知 -->
        <activity android:name=".ui.activity.worksapce.notice.SystemNoticeActivity" />
        <activity android:name=".ui.activity.worksapce.notice.SystemNoticeDetailActivity" />
        <!-- 数据统计 -->
        <activity android:name=".ui.activity.worksapce.datastatistics.DataStatisticsActivity" />
        <!-- 设备类别 -->
        <activity
            android:name=".ui.activity.worksapce.repair.SelectDeviceTypeActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <!-- 融云FileProvider -->
        <provider
            android:name=".ui.provider.RongYunFileProvider"
            android:authorities="net.eanfang.client.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <!-- 会话界面 -->
        <activity
            android:name=".ui.activity.im.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="net.eanfang.client"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.im.MyFriendsListActivity" />
        <!-- 融云配置broadcastReceiver -->
        <receiver
            android:name=".ui.receiver.RongYunNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.THIRD_PARTY_PUSH_STATE" />
            </intent-filter>
        </receiver>
        <!-- 添加好友 -->
        <activity android:name=".ui.activity.im.AddFriendActivity" />
        <!-- 群组创建 -->
        <activity android:name=".ui.activity.im.GroupCreatActivity" />
        <!-- 群组列表 -->
        <activity android:name=".ui.activity.im.MyGroupsListActivity" />
        <!-- 群组详情界面 -->
        <activity android:name=".ui.activity.im.GroupDetailActivity" />

        <!-- 聚合会话列表 -->
        <activity
            android:name=".ui.activity.im.SubConversationListActivtiy"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="net.eanfang.client"
                    android:pathPrefix="/subconversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <!-- 转让群主 -->
        <activity android:name=".ui.activity.im.TransferOwnActivity" />
        <!-- 选择朋友   checkedbox界面 -->
        <activity android:name=".ui.activity.im.SelectedFriendsActivity" />
        <!-- 群组减少成员 -->
        <activity android:name=".ui.activity.im.SubtractFriendsActivity" />
        <!-- IM个人设置页面 -->
        <activity android:name=".ui.activity.im.IMPresonInfoActivity" />
        <!-- 融云的系统消息 -->
        <activity android:name=".ui.activity.im.SystemMessageActivity" />

        <!-- 群内成员禁言 -->
        <activity android:name=".ui.activity.im.GroupShutupMberActivity" />
        <!-- 更新群名字 -->
        <activity android:name=".ui.activity.im.GroupUpdataNameActivity" />
        <!-- 群公告 -->
        <activity android:name=".ui.activity.im.GroupNoticeActivity" />
        <!-- 個人信息 -->
        <activity android:name=".ui.activity.im.IMCardActivity" />
        <!-- 视频文件选择 -->
        <activity android:name=".ui.activity.im.VideoSelectedActivity" />
        <!-- 申请进群 -->
        <activity android:name=".ui.activity.im.AddGroupActivity">
            <intent-filter>
                <action android:name="client_group" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 打开文件 -->
        <activity android:name=".ui.activity.im.FilePreviewExActivity">
            <intent-filter>
                <action android:name="io.rong.imkit.intent.action.openfile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 企业管理 -->
        <activity
            android:name=".ui.activity.worksapce.contacts.CompanyManagerActivity"
            android:screenOrientation="portrait" />
        <!-- 报价订单详情 -->
        <activity
            android:name=".ui.activity.worksapce.install.InstallOrderDetailActivity"
            android:screenOrientation="portrait" />
        <!-- 数据统计列表 -->
        <activity
            android:name=".ui.activity.worksapce.datastatistics.DataStaticsticsListActivity"
            android:screenOrientation="portrait" />
        <!-- 报修选择页面  我要报修/报修管控 -->
        <activity
            android:name=".ui.activity.worksapce.repair.RepairTypeActivity"
            android:screenOrientation="portrait" />

        <!-- 开店日志 -->
        <activity android:name=".ui.activity.worksapce.OpenShopLogActivity" />
        <!-- 开店日志详情 -->
        <activity android:name=".ui.activity.worksapce.OpenShopLogDetailActivity" />
        <!-- 填写开店日志 -->
        <activity android:name=".ui.activity.worksapce.OpenShopLogWriteActivity" />
        <!-- 布防日志 -->
        <activity android:name=".ui.activity.worksapce.DefendLogActivity" />
        <!-- 布防日志的填写和展示详情 -->
        <activity android:name=".ui.activity.worksapce.DefendLogWriteAndDetailActivity" />
        <!-- 布防日志的二级填写和展示详情 -->
        <activity android:name=".ui.activity.worksapce.DefendLogItemWriteAndDetailActivity" />

        <!-- 扫码界面 -->
        <activity
            android:name=".ui.activity.worksapce.scancode.ScanCodeActivity"
            android:screenOrientation="portrait" />
        <!-- 登录确认 -->
        <activity
            android:name=".ui.activity.worksapce.scancode.LoginConfirmActivity"
            android:screenOrientation="portrait" />
        <!-- 管理员设置 -->
        <activity android:name=".ui.activity.worksapce.contacts.AdministratorSetActivity" />
        <!-- 创建部门 -->
        <activity android:name=".ui.activity.worksapce.contacts.CreatSectionActivity" />
        <!-- 添加员工 -->
        <activity android:name=".ui.activity.worksapce.contacts.AddStaffActivity" />
        <!-- 添加员工下一步 -->
        <activity android:name=".ui.activity.worksapce.contacts.AddStaffNextActivity" />
        <!-- 权限设置 -->
        <activity android:name=".ui.activity.worksapce.contacts.PermissionManagerActivity" />
        <!-- 角色分配 -->
        <activity android:name=".ui.activity.worksapce.contacts.AolltRoleActivity" />

        <!-- 技师故障处理 查看照片 -->
        <activity
            android:name=".ui.activity.worksapce.TroubleDetailLookPhotoActivity"
            android:screenOrientation="portrait" />
        <!-- 故障库 -->
        <activity
            android:name=".ui.activity.worksapce.repair.FaultLibraryActivity"
            android:screenOrientation="portrait" />
        <!-- 合作业务的列表 -->
        <activity android:name=".ui.activity.worksapce.contacts.CooperationRelationActivity" />
        <!-- 合作业务详情 -->
        <activity android:name=".ui.activity.worksapce.contacts.CooperationRelationDetailActivity" />
        <!-- 合作业务绑定成功 -->
        <activity android:name=".ui.activity.worksapce.contacts.CooperactionRelationSubActivity" />
        <!-- 故障列表 -->
        <activity android:name=".ui.activity.worksapce.FaultRecordListActivity" />
        <!-- 故障统计列表 -->
        <activity android:name=".ui.activity.worksapce.FaultStatisticsListActivity" />
        <!-- 设备详情 -->
        <activity android:name=".ui.activity.worksapce.equipment.EquipmentDetailActivity" />
        <!-- 设备列表 -->
        <activity android:name=".ui.activity.worksapce.equipment.EquipmentListActivity" />
        <!-- 设备变更列表 -->
        <activity android:name=".ui.activity.worksapce.equipment.EquipmentChangeListActivity" />
        <!-- 设备变更详情 -->
        <activity android:name=".ui.activity.worksapce.equipment.EquipmentChangeDetailActivity" />
        <!-- 设备参数 -->
        <activity android:name=".ui.activity.worksapce.equipment.EquipmentParameterActivity" />
        <!--设备搜索界面-->
        <activity android:name=".ui.activity.worksapce.equipment.EquipmentSearchActivity"></activity>
    </application>

</manifest>