<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.eanfang.worker">
    <!--//地图包、搜索包需要的基础权限-->
    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--bugly-->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- 【必须】 信鸽SDK所需权限   -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 【常用】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 【可选】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <!--生成快捷方式-->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.eanfang.application.EanfangApplication"
        android:allowBackup="true"
        android:icon="@drawable/worker3_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">


        <!--高德地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${AMAP_KEY}" />
        <service android:name="com.amap.api.location.APSService" />


        <receiver
            android:name="net.eanfang.worker.ui.receiver.MessageReceiver"
            android:exported="true">
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>




        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/launch_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--支付宝支付-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!--app-->
        <activity android:name=".ui.activity.MainActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.CameraActivity" />
        <activity android:name=".ui.activity.my.MessageListActivity" />
        <activity android:name=".ui.activity.my.PersonInfoActivity" />
        <activity android:name="com.eanfang.ui.activity.SelectAddressActivity" />
        <activity android:name=".ui.activity.my.EvaluateActivity" />
        <activity android:name=".ui.activity.my.SettingActivity" />
        <activity android:name=".ui.activity.worksapce.AddTroubleActivity" />
        <activity android:name=".ui.activity.worksapce.CheckActivity" />
        <activity android:name=".ui.activity.worksapce.ReportActivity" />
        <activity android:name=".ui.activity.worksapce.TaskActivity" />
        <activity android:name=".ui.activity.worksapce.SelectCompanyActivity" />
        <activity android:name=".ui.activity.worksapce.RepairCtrlActivity" />
        <activity android:name=".ui.activity.pay.PayActivity" />
        <activity android:name=".ui.activity.worksapce.StateChangeActivity" />
        <activity android:name=".ui.activity.worksapce.FaPiaoActivity" />
        <activity android:name=".ui.activity.worksapce.WorkReportListActivity" />
        <activity android:name=".ui.activity.MyBGAPhotoPickerPreviewActivity" />
        <activity android:name=".ui.activity.worksapce.WorkTaskListActivity" />
        <activity android:name=".ui.activity.worksapce.OrderDetailActivity" />
        <activity android:name=".ui.activity.worksapce.TroubleDetailActivity" />
        <activity android:name=".ui.activity.worksapce.PsTroubleDetailActivity" />
        <activity android:name=".ui.activity.worksapce.LookTroubleDetailActivity" />
        <activity android:name=".ui.activity.worksapce.PhoneLookTroubleDetailActivity" />
        <activity android:name=".ui.activity.worksapce.WorkCheckListActivity" />
        <activity android:name=".ui.activity.worksapce.AddDealwithInfoActivity" />
        <activity android:name=".ui.activity.worksapce.SignInActivity" />
        <activity android:name=".ui.activity.worksapce.FillRepairInfoActivity" />
        <activity android:name=".ui.activity.worksapce.QuotationDetailActivity" />
        <activity android:name=".ui.activity.worksapce.PutUpOrderActivity" />
        <activity android:name=".ui.activity.worksapce.PutUpSelectWorkerActivity" />
        <activity android:name=".ui.activity.worksapce.AddTroubleDetailActivity" />
        <activity android:name=".ui.activity.worksapce.AddMaterialActivity" />
        <activity android:name=".ui.activity.worksapce.MaterialInfoActivity" />
        <activity android:name=".ui.activity.worksapce.PhoneSolveRepairInfoActivity" />
        <activity android:name=".ui.activity.worksapce.PhoneSolveTroubleDetailActivity" />
        <activity android:name=".ui.activity.worksapce.EvaluateClientActivity" />
        <activity android:name=".ui.activity.worksapce.QuotationActivity" />
        <activity android:name=".ui.activity.worksapce.MaintenanceActivity" />
        <activity android:name=".ui.activity.worksapce.TaskPublishActivity" />
        <activity android:name=".ui.activity.worksapce.AddReportCompleteActivity" />
        <activity android:name=".ui.activity.worksapce.AddReportFindActivity" />
        <activity android:name=".ui.activity.worksapce.AddReportPlanActivity" />
        <activity android:name=".ui.activity.worksapce.AddWorkTaskDeitailActivity" />
        <activity android:name=".ui.activity.worksapce.AddWorkCheckDetailActivity" />
        <activity android:name=".ui.activity.worksapce.ModifyOrderActivity" />
        <activity android:name=".ui.activity.worksapce.MaintenanceHistoryDetailActivity" />
        <activity android:name=".ui.activity.worksapce.OfferAndPayOrderActivity" />
        <activity android:name=".ui.activity.worksapce.QuotationPartsActivity" />
        <activity android:name=".ui.activity.worksapce.QuotationServicesActivity" />
        <activity android:name=".ui.activity.worksapce.PayOrderDetailActivity" />
        <activity android:name=".ui.activity.worksapce.MineTaskPublishListActivity" />
        <activity android:name=".ui.activity.worksapce.TaskPublishApplyListActivity" />
        <activity android:name=".ui.activity.worksapce.TakeTaskListActivity" />
        <activity android:name=".ui.activity.worksapce.TakeApplyAddActivity" />
        <activity android:name=".ui.activity.worksapce.MineTakePublishListActivity" />
        <activity android:name=".ui.activity.worksapce.InstallOrderListActivity" />
        <activity android:name=".ui.activity.worksapce.ConstansActivity" />
        <activity android:name=".ui.activity.worksapce.DepartmentActivity" />
        <activity android:name=".ui.activity.worksapce.SubcompanyActivity" />
        <activity android:name=".ui.activity.worksapce.ExternalCompanyActivity" />
        <activity android:name=".ui.activity.worksapce.PartnerActivity" />
        <activity android:name=".ui.activity.worksapce.SignActivity" />
        <activity android:name=".ui.activity.worksapce.SignListActivity" />
        <activity android:name=".ui.activity.worksapce.SignInCommitActivity" />
        <activity android:name=".ui.activity.worksapce.SignListDetailActivity" />
        <activity android:name=".ui.activity.worksapce.AuthCompanyActivity" />
        <activity android:name=".ui.activity.worksapce.AuthSystemTypeActivity" />
        <activity android:name=".ui.activity.worksapce.AuthBizActivity" />
        <activity android:name=".ui.activity.worksapce.AuthAreaActivity" />
        <activity android:name=".ui.activity.my.AuthWorkerInfoActivity" />
        <activity android:name=".ui.activity.my.AuthWorkerSysTypeActivity" />
        <activity android:name=".ui.activity.my.AuthWorkerBizActivity" />
        <activity android:name=".ui.activity.my.AuthWorkerAreaActivity" />
        <activity android:name=".ui.activity.worksapce.WebActivity"/>



    </application>

</manifest>