<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.eanfang.zxing">

    <application>
        <activity android:name=".android.CaptureActivity"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".android.LoginConfirmActivity"></activity>
    </application>

</manifest>